.header {
  display: flex;
  justify-content: space-between;
}
.app{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 150px;
}

.nav-items>ul {

  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 21px;
  cursor: pointer;
  
}

.nav-items>ul>li {
  padding: 10px;
  margin-right: 30px;
  text-decoration: none;
}

.res-card {
  margin: 5px;
  width: 250px;
  /* height: 420px; */
  padding: 10px;
  /* border: 1px solid black; */
}

.res-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  cursor: pointer;
}

.res-img {
  width: 100%;
  border-radius: 7px;
  /* margin: 5px; */
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filter-btn {
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.shimmer-container {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.shimmer-card {
  margin: 20px;
  width: 240px;
  height: 400px;
  background-color: #f0f0f0;
}


.login-btn {
  margin: 10px;
  padding: 13px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.filter{
  display: flex;
  justify-content: space-between;
}

.search{
 display: flex;
}
.search-box{
  margin: 0px 12px 0px 40px;
  width: 300px;
  border-radius: 5px;
}

.search-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

a{
  text-decoration: none;
   color: black;
}
.menu{
  display: flex;
  /* background-color: red; */
 background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
   border-radius: 15px;
   height: 200px;
    justify-content: center;
  align-items: center;
}
.menu-parent{
   width: 50%; 
   margin-left: 450px; 
}
.menu-content{
   background-color: white;
   width: 95%;
   height: 80%;
     border-radius: 15px;

  /* margin-left: 50px; */
  
}
.menu-content-parent{

}
.menu-parent h3{
  color: rgb(255, 38, 0);
  text-decoration: underline;
  font-size:medium;
}

.user-card{
  padding: 10px;
  border: 1px solid black;
}